<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileReNamer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileReNamer.My.MySettings>
            <setting name="BracketsParens" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MoviePath" serializeAs="String">
                <value>V:\</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>V:\Video\</value>
            </setting>
        </FileReNamer.My.MySettings>
    </userSettings>
</configuration>