<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KodiBuddy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KodiBuddy.My.MySettings>
            <setting name="MoviePath" serializeAs="String">
                <value>Z:\</value>
            </setting>
            <setting name="MovieImportPath" serializeAs="String">
                <value>Z:\Video</value>
            </setting>
            <setting name="NoOfGenres" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GenreOrYear" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TVPath" serializeAs="String">
                <value>C:\TV Testing\output</value>
            </setting>
            <setting name="TVImportPath" serializeAs="String">
                <value>C:\TV Testing\Import</value>
            </setting>
        </KodiBuddy.My.MySettings>
    </userSettings>
</configuration>